/* $Id: colors.css,v 1.10 2011/01/04 05:24:13 webchick Exp $ */

/* ---------- Color Module Styles ----------- */

body,
body.overlay {
  background: url(../images/background.gif) repeat 0 0;
  color: #333;
}
.comment .comment-arrow {
  border-color: #ffffff;
}


.tabs ul.primary li a.active {
  background-color: #ffffff;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

a {
  color: #336666;
}
a:hover,
a:focus {
  color: #336666;
}
a:active {
  color: #336666;
}
.sidebar .block {
  background-color: #f6f6f2;
  border-color: #f9f9f9;
}

.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #fffeff;
}
